@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carousel.css");
@import url("styles/topics.css");
@import url("styles/contact.css");
@import url("styles/footer.css");

:root {
    --color-bg: #EBECEE;
    --white: #FFFFFF;
    --orange: #eb9800;
    --blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-principal: "Poppins";
    --blue: #002F52;
    --font-secondary: "Josefin Sans";
    --black: #000000;
    --gray: #474646;
    --gray-title: #858585;
}

body {
    background-color: var(--color-bg);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;

}
